@media (max-width: 768px) {
  .cupcake-grid, .weddingcake-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px; 
  }
  .cupcake-container img {
    width: 100%;
    height: auto;
  }
  .weddingcake-container img {
    width: 100%;
    height: auto;
  }
  .topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0; 
    width: 100%; 
    height: 250px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));    
    box-shadow: 10px 10px 8px #252424;    
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Old Standard TT', serif, monospace;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
}
.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0; 
  width: 100%; 
  height: 160px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));    
  box-shadow: 10px 10px 8px #252424;    
}
#logo {
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -62%);
  border-radius: 50%;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0);
}
.links {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-top: 60px;
  transform: translateX(-50%);
    
}
main {
  min-height: 100%;
  background-color: rgb(75, 77, 82);
  box-sizing: border-box;
  letter-spacing: 2px;
  padding: 160px;
  font-size: 1.5em;

}
.cupcake-grid {
  margin: 15px 50px 75px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 0px 35px; 
}
.weddingcake-grid {
  margin: 40px 50px 0 px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 0px 40px; 
}
.cupcake-container,
.weddingcake-container {
  padding: 25px;
  margin: 20px;
  text-align: center;
  width: 300px;
}
.cupcake-container {
  height: 230px;
  margin: 20px;
}
.weddingcake-container {
  height: 360px;
}
.cupcake-container img {
  max-width: 100%; 
  max-height: 100%; 
  width: 280px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 13%;
  box-shadow: 2px 2px 20px 2px #000000;
}
.weddingcake-container img {
  max-width: 100%; 
  max-height: 100%; 
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 13%;
  box-shadow: 2px 2px 20px 2px #000000;
}
h1 {
  color: rgb(255, 167, 2);
  text-shadow: 2px 2px 2px #000000;
  padding-top: 20px;
  color: rgb(189, 123, 0);
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  display: block;
}
h2 {
  color: rgb(255, 167, 2);
  text-shadow: 2px 2px 2px #000000;
  padding-top: 20px;
  color: rgb(189, 123, 0);
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  display: block;
}
.cupcake-container h2,
.weddingcake-container h2 {
  font-size: 1em;
  margin: 10px 0;
  color: rgb(255, 166, 0);
  text-shadow: 2px 2px 2px #000;
}
.cupcake-container p,
.weddingcake-container p {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: 0px;
  padding: 0;
}
.links a {
  font-size: 1.2em;
  color: orange;
  text-decoration: none;
  margin: 0 30px 20px 0; 
  text-shadow: 1px 1px 1px #8b0000;
}
.links a:hover {
  color: #833f00;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(255, 141, 88);
}
footer {
  align-items: center;
}
.social-links {
  margin-top: 50px;
}
.social-links a {
  margin-right: 20px;
  font-size: 0.7em;
  color: orange;
  text-decoration: none;
}
.social-links img {
  width: 30px;
}
.centered {
  text-align: center;
}
.button {
  color: orange;
  background-color: black;
  width: 100px;
  height: 40px;
}
#button:hover {
  color: rgb(255, 238, 0);
  background-color: rgb(51, 51, 51);
  width: 100px;
  height: 40px;
}
input {
  height: 10px;
  padding: 10px 0;
  background-color: rgb(175, 175, 175);
}
textarea {
  background-color: rgb(170, 170, 170);
}
.horizontal-line {
  border-top: 2px solid #ccc;
  margin-bottom: 25px;
}